@page
@model SnackisApp.Pages.PostsModel
@using Areas.Identity.Data;

@{
    TimeZoneInfo timeZone = TimeZoneInfo.FindSystemTimeZoneById("Central Europe Standard Time");
    SnackisUser user;
}

<h4 class="text-center">@Model.Subject.Name</h4>

<div class="col mx-3">
    <div class="border m-2">
        <div class="m-3">
            <p class="text-hide m-0">@(user = Model.Users.Where(u => u.Id == Model.ParentPost.UserId).FirstOrDefault())</p>
            @if (user != null)
            {
                <div class="row mx-0">
                    <img style="max-height: 50px" src="img/@user.Picture" />
                    <h6 class="mb-1 mx-5">@user.UserName</h6>
                    <div class="mx-5">
                        <a asp-page="./CreatePost" asp-route-SubjectId="@Model.Subject.Id" asp-route-PostId="@Model.ParentPost.Id">Skriv svar</a>
                    </div>
                </div>
            }
            else
            {
                <div class="row mx-0">
                    <img style="max-height: 50px" src="img/default.png" />
                    <h6 class="mb-1 mx-5">Okänd användare</h6>
                    <div class="mx-5">
                        <p>Det går inte att svara på det här inlägget</p>
                    </div>
                </div>
            }
            <p class="small">@TimeZoneInfo.ConvertTimeFromUtc(Model.ParentPost.Date, timeZone).ToString("g")</p> @* g = Datum + tid utan sekunder*@
            <div class="row justify-content-between mx-0">
                <h5>@Model.ParentPost.Title</h5>
                @if (Model.ParentPost.IsOffensiv)
                {
                    <p class="mr-3 text-danger">Inlägget är anmält för olämpligt innehåll</p>
                }
                else
                {
                    <a class="mr-3" href="./Report/?ReportPostId=@Model.ParentPost.Id">Anmäl för olämpligt innehåll</a>
                }
            </div>
            <p>@Model.ParentPost.Text</p>
        </div>
    </div>
</div>

<div class="col ml-5 pr-5">
    @foreach (var post in Model.Answers)
    {
        user = Model.Users.Where(u => u.Id == post.UserId).FirstOrDefault();

        <div class="border m-2">
            <div class="m-3">
                @if (user != null)
                {
                    <div class="row mx-0">
                        <img style="max-height: 50px" src="img/@user.Picture" />
                        <h6 class="mb-1 mx-5">@user.UserName</h6>
                    </div>
                }
                else
                {
                    <div class="row mx-0">
                        <img style="max-height: 50px" src="img/default.png" />
                        <h6 class="mb-1 mx-5">Okänd användare</h6>
                    </div>
                }
                <p class="small">@TimeZoneInfo.ConvertTimeFromUtc(post.Date, timeZone).ToString("g")</p>  @* g = Datum + tid utan sekunder*@
                <div class="row justify-content-between mx-0">
                    <h6>Svar till inlägg "@Model.ParentPost.Title"</h6>
                    @if (post.IsOffensiv)
                    {
                        <p class="text-danger">Inlägget är anmält för olämpligt innehåll</p>
                    }
                    else
                    {
                        <a href="./Report/?ReportPostId=@post.Id">Anmäl för olämpligt innehåll</a>
                    }
                </div>
                <h5>@post.Title</h5>
                <p>@post.Text</p>
            </div>
        </div>
    }
</div>
