@page
@model SnackisApp.Pages.GM.IndexModel

@using Microsoft.AspNetCore.Identity;
@using Areas.Identity.Data;
@using SnackisApp.Data;
@using Microsoft.EntityFrameworkCore;
@using SnackisApp.Models


@inject UserManager<SnackisUser> _userManager;
@inject SnackisContext _context;

@{
    SnackisUser currentUser = await _userManager.GetUserAsync(User);
    Membership membership;
}


<div>
    <a asp-page="/GM/CreateGroup">Skapa ny grupp</a>
</div>

<br />

<h5 class="text-info">Grupper skapade av mig</h5>
@if (Model.MyGroups.Count == 0)
{
    <p>Inga skapade grupper</p>
}
else
{

    @foreach (var group in Model.MyGroups)
    {
        <div>
            <component type="typeof(Components.ShowGroup)" render-mode="ServerPrerendered" param-Group='@group' param-CurrentUser="@currentUser" />
        </div>
        <br />
    }
}

<h5 class="text-info">Inbjuden till</h5>
@if (Model.InvitedToGroups.Count == 0)
{
    <p>Inga väntande inbjudningar</p>
}
else
{
    @foreach (var group in Model.InvitedToGroups)
    {
        <div>
            <component type="typeof(Components.ShowGroup)" render-mode="ServerPrerendered" param-Group='@group' param-CurrentUser="@currentUser" />
        </div>

        <p hidden>@(membership = _context.Membership.FirstOrDefault(ms => ms.UserId == currentUser.Id && ms.GroupId == group.Id))</p>
        <a class="btn btn-success btn-sm mt-1" href="/gm/index?AddMembershipId=@membership.Id">Acceptera</a>
        <a class="btn btn-danger btn-sm mt-1" href="gm/index?DeleteMembershipId=@membership.Id">Avfärda</a>

        <br />
        <br />
    }
}


<h5 class="text-info">Mina grupper</h5>
@if (Model.AcceptedGroups.Count == 0)
{
    <p>Inte medlem i någon grupp</p>
}
else
{
    @foreach (var group in Model.AcceptedGroups)
    {
        <div>
            <component type="typeof(Components.ShowGroup)" render-mode="ServerPrerendered" param-Group='@group' param-CurrentUser="@currentUser" />
        </div>

        <p hidden>@(membership = _context.Membership.FirstOrDefault(ms => ms.UserId == currentUser.Id && ms.GroupId == group.Id))</p>
        <a class="btn btn-danger btn-sm mt-1" href="gm/index?DeleteMembershipId=@membership.Id">Lämna</a>

        <br />
        <br />
    }
}





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


